@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family:  Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app > * {
    margin: 50px;
}

#output::before {
    content: "output";
    margin-bottom: 10px;
    display: block;
}
